* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.flex-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 425px;
  width: 1000px;
  /* background-color: azure; */
}

.hour-container {
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  height: 80%;
  width: 25%;
  transform: skewX(-4deg);
  /* background-color: bisque; */
}

.minute-tile,
.hour-tile {
  height: 18%;
  width: 29%;
  background-color: #000;
  border-radius: 10px;
}

.sep-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  height: 80%;
  width: 10%;
  box-sizing: border-box;
  padding: 10px;
  transform: skewX(-4deg);
  /* background-color: bisque; */
}

.sep-tile {
  height: 18%;
  width: 70%;
  background-color: yellow;
  border-radius: 10px;
  animation: blink 1.3s linear 0s infinite;
}

@keyframes blink {
  0% {
    background-color: yellow;
    transform: scale(1);
  }

  65% {
    background-color: yellow;
    transform: scale(1);
  }
  /* 80% {
    background-color: rgba(255, 255, 0, 0.808);
    transform: scale(1.05);
  } */
  75% {
    background-color: black;
    /* transform: scale(1.1); */
  }

  100% {
    background-color: black;
    /* transform: scale(1.1); */
  }
}
.minute-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  height: 80%;
  width: 25%;
  box-sizing: border-box;
  padding: 15px;
  transform: skewX(-4deg);
  /* background-color: bisque; */
}

.second-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 72%;
  width: 6.8%;
  margin-top: 15px;
  margin-bottom: 15px;
  /* background-color: white; */
  transform: skewX(-4deg);
}

.second-tile {
  height: 18.2%;
  width: 96%;
  background-color: yellow;
  border-radius: 10px;
}

.second-count {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #000;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

/* div {
  color: #ffffff2d;
} */
